<%- include('includes/_header_') %>

<% if (info != '') { %>
    <div class="notification is-info">
        <%= info %>
    </div>
<% } %>


<div class="columns">
<% for(let marvel of marvels) { %>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <a href="/backend/nombres <%= marvels.id %>"><%= marvels.nombre %></a>
                    <p><%= marvels.created_at %></p>
                </div>
            </div>
        </div>
    </div>
<% } %>
</div>

<%- include('includes/_footer_') %>