<%- include('includes/_header_') %>

<% if (info != '') { %>
    <div class="notification is-info">
        <%= info %>
    </div>
<% } %>

<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">
            <span class="has-text-danger-dark">MARVEL</span> COLLECTION
        </h1>
        
        <div class="columns is-multiline">
            <% for (let marvel of marvels) { %>
                <div class="column is-one-third">
                    <div class="card">
                        <!-- Imagen principal -->
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="/uploads/<%= marvel.imagen %>" alt="Imagen de <%= marvel.nombre %>">
                            </figure>
                        </div>
            
                        <!-- Contenido -->
                        <div class="card-content">
                            <div class="content">
                                <a href="/backend/nombres/<%= marvel.id %>"><%= marvel.nombre %></a>
                                <p class="has-text-grey"><%= marvel.created_at %></p>
                            </div>
            
                            <!-- Miniatura -->
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="/uploads/<%= marvel.imagen %>" alt="Miniatura de <%= marvel.nombre %>">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-5">@<%= marvel.nombre %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
            </div>
            
    </div>
</section>

<%- include('includes/_footer_') %>